//import
@import "mixin.scss";
@import "extend.scss";
@import "colorfont.scss";


//vars
$titleColor: yellow;
$parrafo: orange;

//clases
.empresaFlex{
display: flex;
    justify-content: center; 
}

.h1Class h1 {
    @include titulo();
}

.parrafo {
color: $parrafo;
text-align: center;
font-size: 1.2em;
}



/* Mobile */
@media (min-width: 320px) and (max-width: 425px){
    /* Hecho con bootstrap (utilice sistema de grillas) */
}

/* Tablet */
@media (min-width: 425px) and (max-width: 768px){
    /* Hecho con bootstrap (utilice sistema de grillas) */
}

/* Laptop */
@media (min-width: 768px) and (max-width: 2560px){
    /* Hecho con bootstrap (utilice sistema de grillas) */
}







